:root {
    --global-margin-left: 10px;
    --global-margin-right: 10px;
    --global-margin-top: 10px;
}

* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: none;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkbox-table-cell {
    padding-left: 0;
}

input.read-status {
    margin: auto;
    display: block;
}

td {
    vertical-align: middle;
    border: 1px solid black;
}

tr {
}

td.buttons {
    text-align: center;
    padding-left: 0px;
}

table {
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    border-bottom: 2px solid black;
    text-align: left;
}

button.newBookButton, table, form {
    margin-top: var(--global-margin-top);
    margin-left: var(--global-margin-left);
    margin-right: var(--global-margin-right);
}

td, th {
    padding-left: 2px;
}