* {
    outline: 1px solid red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: none;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkbox-table-cell {
    text-align: center;
}

td {
    vertical-align: middle;

}

tr {
    vertical-align: sub;
}

td.buttons {
    text-align: center;
}